/*CSS*/
#student_select {
	padding: 1%; color:gray; margin-bottom:3%;
}
#wrapper_main {
	border: 2px solid gray; margin-left: 20%; margin-right: 20%;
}
#wrapper_inner {
	border: 1px solid black; border-radius: 25px; margin-left:10%; margin-right:10%; padding-left:5%; padding-right:5%; margin-bottom:5%
}
#avatar_pic {
	width:100px; height:85px; padding-left:20%;
}
#flex {
	display:flex; width:90%; margin-top:10%; margin-bottom:5%;
}
#title{
	color:gray; font-weight:600; font-size:1.5em;
}
table, tr, td, th {
	border: 1px solid black;
}
table {
	background-color:black;
}
td {
	background-color:#c7c7c7;
}
th {
	background-color:#989898;
}
#id_number {
	color:gray; font-weight:800; margin-top:5%; margin-bottom:5%;
}