<!DOCTYPE html>
<html lang="en">
<head>
	<title>About Us</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>
<body>
<h1 class="terminal title">&gt;About Us</h1>
<p class="terminal">&gt;Welcome to Zoo Virtual Tour, a Zoo Tycoon Product!<br>
&gt;We are excited to announce our recent acquisition by Zoo Tycoon Industries,<br>
&gt;LLC. We assure you that while our name has changed, we still aim to offer<br>
&gt;the same product as before! Zoo Virtual Tour (ZVT) is a digital simulation<br>
&gt;program that allows users to experience a zoo from the comfort of their homes!<br>
&gt;In light of our recent management shift, our development team has decided that<br>
&gt;the best future for our program is a Zoo Tycoon Future! From now on ZVT will<br>
&gt;only offer virtual tours of the Zoo Tycoon establishments, the Zoological<br>
&gt;Collection of Organisms Common and Esoteric!<br>
&gt;Happy touring!
</p>
<a class="terminal link" href="javascript:history.go(-1)">Back</a>
</body>

</html>