{% extends "base_generic.html" %}

{% block content %}

    {% if validlink %}
        <p>Bitte geben Sie Ihr neues Passwort ein (und bestätigen Sie es).</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Neues Kennwort:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Bestätige das Passwort:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Passwort zurücksetzen fehlgeschlagen</h1>
        <p>
        Der Link zum Zurücksetzen des Passworts war ungültig, möglicherweise weil er bereits verwendet wurde. <br>
        Bitte fordern Sie ein neues Passwort-Reset an.
        </p>
    {% endif %}

{% endblock %}